@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  
}
.total-container {
  height: 100vh;
}

header {
  height: 82px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  color: white;
}
header h1{
  margin-left: 30px;
}



.scoreboard {
  margin-left: 40px;
  background: #1f1f1f;
  color: white;
  display: flex;
  
}
.scoreboard h4 {
  font-size: 20px;
}
.scoreboard span {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 25px;
}


.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.level-container {
  background: #1f1f1f;
  color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.symbol-container {
  margin-top: 50px;
  display: flex;
  max-width: 312px;
  flex-wrap: wrap;
}
.symbol-item {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  background: #1f1f1f;
  color: white
}
.symbol-item:hover {
  background: #2c2c2c;
}


.game-over-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1f1f1f;
  color: white;
  text-align: center;
}
.game-over-screen h1 {
  font-size: 50px;
}
.game-over-screen h3{
  font-size: 30px;
}
.game-over-screen button {
  width: 100px;
  height: 50px;
  background: rgb(211, 211, 211);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 5px;
}
.game-over-screen button:hover {
  background: rgb(255, 255, 255);
}

footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 50px;
  background: #1f1f1f;
  width: 100%;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: grey;
}
footer h3 {
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  font-size: 15px;
}
footer i {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.left-footer {
  display: flex;
  
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.right-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}


.right-footer i{ 
  margin-right: 10px;
}


@media only screen and (max-width: 600px) {
  .title {
    display: none
  }
  header {
    display: flex;
    justify-content: center;
  }
  .scoreboard {
    margin-left: 0px;
  }
  .level-container {
    width: 90%;
  }
  .symbol-container {
    max-width: 312px;
  }
}